<!-- Services Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">关于我们</h2>

                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">我们是谁?</h4>

                <p class="text-muted" style="text-align: justify;">课题组主要从事环境规划与管理研究，致力于人类活动的资源和环境效应评估。用遥感(RS)、地理信息系统(GIS)、物质流分析(SFA)、生命周期评价(LCA)、数据挖掘(DM)、清单分析(EIA)、成本-效益分析(CBA)等方法从多源环境数据融合与同化、多尺度氮磷循环及其环境效应、磷资源开发利用过程含磷废物资源化技术等方向重点开展多尺度营养物质和重金属循环过程模拟，阐释其时空格局演变规律和驱动机制，并定量评估其资源和环境效应，为系统调控人类活动和推动区域可持续发展提供决策依据。培养创新型环境规划与管理人才。</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">What is Swarm Intelligence?</h4>

                <p class="text-muted" style="text-align: justify;">Have you ever wondered why a colony of ants, all with
                    tiny brains, can achieve
                    near perfect coordination of their traffic, while human beings with their hundreds of billions
                    of neurons and sophisticated technologies still find themselves in traffic jams on a daily basis?
                    This is what we study in when we look at Swarm Intelligence (and Swarm Stupidity), where the many
                    interactions between members of a group can lead to extraordinarily efficient solutions or
                    snowballing catastrophes.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">课题组最新动态</h4>
                <ul class="posts">
                    {% for post in site.categories.blog limit:7 %}
                    <li style="text-align: justify; font-size: 95%;">
                        <span>{{ post.date | date: "%b %-d, %Y" }}</span> &raquo;
                        <a href="{{ BASE_PATH }}{{ post.url }}">
                            {{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <p class="text-muted" style="text-align: right;"><a href="/blog/">更多消息...</a></p>
            </div>
        </div>
    </div>
</section>