<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>-->
            <a class="navbar-brand page-scroll" href="/">
                <img src="/img/logos/sceelogo.png"  alt={{site.title}} style="height:350%;width:130%; position: relative; top: -75%;">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/#about">课题组介绍</a>
                </li>
                <!--<li>
                    <a class="page-scroll" href="#research">Research</a>
                </li>-->

                <li class="dropdown">
                    <a class="dropdown-toggle keep-open" data-toggle="dropdown" data-hover="dropdown" href="/#research">
                        研究项目<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="page-scroll" href="/#research">在研项目</a></li>
                        <li><a href="/publications/">科研成果</a></li>
                        <li><a href="/honor/">获奖荣誉</a></li>
                        <li><a href="/meetings/">结题项目</a></li>
                    </ul>
                </li>

                <li>
                    <a class="page-scroll" href="/#teaching">研究方法</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#dev">研究平台</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle keep-open" data-toggle="dropdown" data-hover="dropdown" href="/#team">
                        团队<i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/#team">目前成员</a></li>
                        <li><a href="/previous_members/">毕业成员</a></li>
                        <li><a href="/join/">加入团队</a></li>
                    </ul>
                </li>
                <li>
                    <a class="page-scroll" href="/#contact">联系我们</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
